# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.packages
.pub/
build/
**/pubspec.lock

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Optional: logs or temporary files
*.log
*.tmp

